<div class="body">
    <div class="home">
        <p>
            Hello, I am a photographer passionate about diving underwater.
        </p>
        <p>
            Bienvenue sur mon portfolio de photos. J'aime observer la faune, la
            nature et les éco-systèmes sous-marins.
        </p>
        <p>
            Welcome to my photo portfolio. I like to observe wildlife, nature
            and underwater ecosystems.
        </p>
        <p>
            Good visit, do not hesitate
            <a href="mailto:contact@olifish.com" class="contact"
                >to contact me</a
            >
            to exchange.
        </p>
        <p>Olivier Colli</p>
        <p>contact@olifish.com</p>
    </div>
    <section class="gallery">
        <h2>My galleries :</h2>
        {galleries}
    </section>
</div>
